
      <div class="container">
          <h1>Dolce & Gabbana</h1>

          <!-- Introducción -->
          <div class="section">
              <h2>Historia de Dolce & Gabbana</h2>
              <p>Dolce & Gabbana es una casa de moda italiana de lujo fundada en 1985 por los diseñadores Domenico Dolce y Stefano Gabbana. Con sede en Milán, esta marca es conocida mundialmente por su estilo sofisticado, glamoroso y mediterráneo. A lo largo de los años, Dolce & Gabbana ha crecido hasta convertirse en una de las marcas de moda más influyentes del mundo, abarcando desde ropa y accesorios hasta fragancias y productos de belleza.</p>
              <img src="https://images.ecestaticos.com/1FawFXUTLX6GuvOc7-WDOf8t350=/7x4:2268x1514/1440x1080/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd4e%2F147%2F83b%2Fd4e14783bc15c8fb381207178e514aea.jpg" alt="Dolce & Gabbana">
          </div>

          <!-- Información sobre productos -->
          <div class="section">
              <h2>Productos y Servicios</h2>
              <div class="info">
                  <div>
                      <h3>Ropa</h3>
                      <p>Dolce & Gabbana ofrece una amplia gama de prendas de vestir, tanto para hombres como para mujeres, que combinan la elegancia italiana con influencias contemporáneas. Desde trajes de alta costura hasta ropa casual de lujo.</p>
                  </div>
                  <div>
                      <h3>Accesorios</h3>
                      <p>La marca es conocida por sus accesorios únicos y lujosos, como bolsos, gafas de sol, zapatos, y joyería que complementan perfectamente su línea de ropa. Cada accesorio está diseñado con el detalle y la sofisticación que caracterizan a la marca.</p>
                  </div>
                  <div>
                      <h3>Fragancias</h3>
                      <p>Dolce & Gabbana también cuenta con una destacada línea de fragancias, entre las que destacan "Light Blue" y "The One", fragancias icónicas que han ganado premios y reconocimiento mundial.</p>
                  </div>
                  <div>
                      <h3>Cosméticos</h3>
                      <p>Con productos de belleza y maquillaje de alta calidad, Dolce & Gabbana ofrece cosméticos exclusivos que capturan la esencia del lujo italiano.</p>
                  </div>
              </div>
          </div>

          <!-- Contacto -->
          <div class="section contacto">
              <h2>Contacto</h2>
              <p>Visita el sitio web oficial de <a href="https://www.dolcegabbana.com" target="_blank">Dolce & Gabbana</a> para más información sobre sus productos y servicios.</p>
              <p>Síguenos en redes sociales:</p>
              <p><a href="https://www.instagram.com/dolcegabbana" target="_blank">Instagram</a> | <a href="https://www.facebook.com/DolceGabbana" target="_blank">Facebook</a> | <a href="https://twitter.com/dolcegabbana" target="_blank">Twitter</a></p>
          </div>
      </div>

