
<div class="card" style="width:400px">
  <img class="card-img-top" src="{{productos.imagen}}" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Nombre:</h4>
    <p class="card-text">{{productos.nombre}}</p>
    <h4 class="card-title">Precio:</h4>
    <p class="card-text">{{productos.precio}}</p>
    <h4 class="card-title">Color:</h4>
    <p class="card-text">{{productos.color}}</p>
    <h4 class="card-title">Talla:</h4>
    <p class="card-text">{{productos.talla}}</p>
    <h4 class="card-title">Material:</h4>
    <p class="card-text">{{productos.material}}</p>

    <a href="productos" class="btn btn-primary">regresar</a>
  </div>
</div>

